@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  height: 100vh;
  background:linear-gradient( #45698A, #173648);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}